/* ----- Admin Shortcuts -------- */
#admin-shortcuts {background: #4D4F53; margin: 0px; padding: 3px 10px;}
#admin-shortcuts .nav {margin: 0; padding: 0;}
#admin-shortcuts .content a {background: #4D4F53; color: #fff; padding: 3px 10px;}
#admin-shortcuts .content a:hover, #admin-shortcuts .block a:active {}

#admin-shortcuts .content ul.menu {display: block; background: #4D4F53;}
#admin-shortcuts .content ul.menu li {float: left; margin: 0; list-style-image: none; list-style: none; display: block;}
#admin-shortcuts .content ul.menu li:hover ul {display: block; position: absolute; top: 23px; z-index: 1000;}

#admin-shortcuts .content ul.menu ul {display: none; background: #4D4F53;}
#admin-shortcuts .content ul.menu ul li {float: none; display: block;} */